<input id="text" placeholder="text"/>
<input id="geometry" placeholder="geometry"/>
<input id="color" placeholder="color"/>
<input id="x" placeholder="x"/>
<input id="y" placeholder="y"/>
<input id="z" placeholder="z"/>
<button id="submit">submit</button>
<a-scene id="scene">
  <!-- ENTITIES APPENDED HERE -->
</a-scene>
