<input id="text" placeholder="text"/>
<input id="geometry" placeholder="geometry"/>
<input id="color" placeholder="color"/>
<input id="x" placeholder="x"/>
<input id="y" placeholder="y"/>
<input id="z" placeholder="z"/>
<button id="submit">submit</button>
<a-scene id="scene">
  <!-- <a-entity
  id="aframeText"
  geometry="primitive: plane; width: 4; height: 4"
  material="color: red"
  position="0 2 -5"
  text="value: This text will be 4 units wide."></a-entity> -->
</a-scene>
