<input id="input" placeholder="type here"/>
<button id="submit">submit</button>
<div id="container"></div>
<a-scene>
      <!-- <a-entity text="value: Hello World;"></a-entity> -->

      <a-entity
      id="aframeText"
      geometry="primitive: plane; width: 4; height: 4"
      material="color: red"
      position="0 2 -5"
      text="value: This text will be 4 units wide."></a-entity>

       <!-- INTERSECTING BOXES -->
       <!-- <a-box color="blue" position="2 4 -3" rotation="0 45 45" scale="2 2 2">
         <a-animation attribute="position" to="0 2.2 -5" direction="alternate" dur="2000" repeat="indefinite"></a-animation>
       </a-box>
       <a-box color="blue" position="-2 0 -7" rotation="0 45 45" scale="2 2 2">
         <a-animation attribute="position" to="0 2.2 -5" direction="alternate" dur="2000" repeat="indefinite"></a-animation>
       </a-box>


       <a-box color="blue" position="2 4 -3" rotation="0 -45 -45" scale="2 2 2"></a-box>
       <a-box color="blue" position="0 2 -5" rotation="0 -45 -45" scale="2 2 2"></a-box>
       <a-box color="blue" position="-2 0 -7" rotation="0 -45 -45" scale="2 2 2"></a-box> -->
   </a-scene>
