#elements {
  display: inline-block;
  margin: 10px;
  background-color : transparent;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

div {
  display: inline-block;
  margin: 10px;
}

select {
  border: 5px solid black;
  margin: 5px;
  text-align: center;
  font-size: 15px;
  background: black;
  color: white;
  border: 8px solid black;
  border-radius: 10px;
}

button {
  background: black;
  color: white;
  margin: 5px;
  padding: 7px;
  text-align: center;
  font-size: 15px;
  border: 4px solid black;
  border-radius: 5px;
}

button:hover {
  background: white;
  color: black;
}

button.a-enter-vr-button {
 position: relative;
 float: right;
 margin-top: -75px;
}
